<div id="main-topbar">
  <div id="main-pagetitle">
    <div id="main-homebutton">
    <%= link_to(image_tag("Home-128.png", size: "36", alt: "Main Menu", class: "topbar-homebutton"), main_path) %>
    </div>
    <div id="main-titletext">
      <%= @mainpagetitle %>
      <% if @group && @group.private == true %>
        <%= image_tag @topbarimage, alt: "Private status", class: "topbar-privateimage" %>
      <% end %>
    </div>
    <div id="main-messagebutton">
    <%= link_to(image_tag("Lightning-128.png", size: "30", alt: "Lightning Mode", class: "topbar-messagebutton"), lightnings_path) %>
    </div>
  </div>
</div>
