<li id="chatline" style="list-style-type:none">
  <span id="messagetime" class="float right" style="font-size:.6em; color:gray; margin-right:12px;"><%= chat.created_at.strftime("%l:%M%p") %></span>
  <span style="color:red;"><%= chat.user.username if chat.user %>
    <% if chat.user %>
    :
    <% end %>
  </span>
  <% if chat.user %>
    <span><%= chat.message %></span>
  <% else %>
    <span style="color:purple; font-size:.9em;"><i><%= chat.message %></i></span>
  <% end %>
</li>
