<div id="landing-topbar"></div>


<div id="landing-bgtext">WTA</div>
<div id="landing-fgtext">Welcome to AcroFriends!</div>

<div id="landing-signin">Sign in or Sign up</div>

<div id="signin-twitter">Sign in with Twitter</div>
<div id="signin-facebook">Sign in with Facebook</div>

<div id="landing-bottombar"></div>
