<div class="row">
    <div class="large-10 centerall"; style="text-align: center;  margin-top:180px; margin-bottom:40px; font-size:760%; font-weight:normal; opacity:.15;">
      WTA
    </div>
    <div class="large-10 acrofont centerall"; style="text-align: center; margin-top:-134px; margin-bottom:40px; font-size:380%; font-weight:normal;">
      Welcome to AcroFriends!
    </div>
  </div>

<div style="text-align: center">Hello and welcome to AcroFriends!</div>
