@media screen and (max-width: 480px) {
  /* LANDING PAGE */
  #landing-bgtext {
    width: 100%;
    text-align: center;
    margin-top:32px;
    margin-bottom:40px;
    font-size:440%;
    font-weight:normal;
    opacity:.15;
    color: #ff3100;
  }
  #landing-fgtext {
    width: 100%;
    text-align: center;
    margin-top:-94px;
    margin-bottom:30px;
    font-size:225%;
    font-weight:bold;
    color: #ff3100;
  }
  #landing-signin {
    width: 100%;
    text-align: center;
    margin-top: 40px;
    font-size:100%;
    font-weight:normal;
  }

  #landing-topbar {
    background: #03a9f4;
    height: 70px;
    width: 100%;
    box-shadow: 0 5px 5px #444;
  }

  #landing-bottombar {
    background: #03a9f4;
    bottom: 0;
    position: fixed;
    height: 70px;
    width: 100%;
    box-shadow: 0 -5px 5px #444;
    z-index: -1;
  }

  #signin-with {
    margin-top: 40px;
    text-align: center;
  }
  #signin-twitter {
    margin: 25px 10px 0 0;
  }
  #signin-facebook {
    margin: 25px 10px 0 10px;
  }
  #signin-google {
    margin: 25px 0 0 10px;
  }

  /* MAIN PAGE */
  #main-topbar {
    background: #03a9f4;
    height: 40px;
    width: 100%;
    box-shadow: 0 5px 5px #444;
  }
  #main-pagetitle {
    text-align: center;
    color: white;
    font-size: 140%;
    font-weight: 600;
    padding-top: 3px;
  }
  #main-bottombar {
    background: #03a9f4;
    bottom: 0;
    position: fixed;
    height: 70px;
    width: 100%;
    box-shadow: 0 -5px 5px #444;
  }
  #main-icons {
    text-align: center;
    margin: 10px 12px 14px 12px;;
  }
  .main-icon {
    margin: 0 8px;
  }
}
