@media screen and (min-width: 481px) {
  /* LANDING PAGE */
  #landing-bgtext {
    width: 100%;
    text-align: center;
    margin-top:32px;
    margin-bottom:40px;
    font-size:440%;
    font-weight:normal;
    opacity:.15;
    color: #ff3100;
  }
  #landing-fgtext {
    width: 100%;
    text-align: center;
    margin-top:-94px;
    margin-bottom:30px;
    font-size:145%;
    font-weight:bold;
    color: #ff3100;
  }
  #landing-signin {
    width: 100%;
    text-align: center;
    margin-top: 40px;
    font-size:100%;
    font-weight:normal;
  }

  #landing-topbar {
    background: #03a9f4;
    height: 70px;
    width: 100%;
    box-shadow: 0 5px 5px #444;
  }

  #landing-bottombar {
    background: #03a9f4;
    bottom: 0;
    position: fixed;
    height: 70px;
    width: 100%;
    box-shadow: 0 -5px 5px #444;
    z-index: -1;
  }

  #signin-with {
    margin-top: 40px;
    text-align: center;
  }
  #signin-twitter {
    margin: 25px 10px 0 0;
  }
  #signin-facebook {
    margin: 25px 10px 0 10px;
  }
  #signin-google {
    margin: 25px 0 0 10px;
  }

  /* MAIN PAGES */
  #main-topbar {
    background: #03a9f4;
    height: 40px;
    width: 100%;
    box-shadow: 0 5px 5px #444;
    margin-bottom: 16px;
  }
  #main-titletext {
    text-align: center;
    color: white;
    font-size: 140%;
    font-weight: 600;
    padding-top: 6px;
    margin: 0 10% 0 10%;
  }
  #main-homebutton {
    float: left;
    margin-top: 2px;
    margin-left: 10px;
  }
  #main-messagebutton {
    float: right;
    margin-top: -28px;
    margin-right: 10px;
  }
  .lightningnumber {
    background-color: red;
    font-size: 12px;
    font-weight: 600;
    color: white;
    padding: 1px;
    border-radius: 4px;
    z-index: 10;
    position: relative;
    top: -18px;
    right: 15px;
    text-align: center;
    margin: 0 5px;
  }
  .lightningnumberbottom {
    background-color: red;
    font-size: 15px;
    font-weight: 600;
    color: white;
    padding: 1px 1px 1px 4px;
    border-radius: 4px;
    z-index: 10;
    position: relative;
    top: -8px;
    right: 69px;
    text-align: center;
    margin-right: -18px;
  }
  .mainroundcounts {
    background-color: red;
    font-size: 14px;
    font-weight: 600;
    color: white;
    padding: 1px 1px 1px 4px;
    border-radius: 4px;
    z-index: 10;
  }
  #gamesstilltoplay {
    position: relative;
    top: -21px;
    right: 318px;
    text-align: center;
    margin-right:-14px;
  }
  #gamesstilltovote {
    position: relative;
    top: -21px;
    right: 172px;
    text-align: center;
    margin-right:-14px;
  }
  #resultsstilltosee {
    position: relative;
    top: -21px;
    right: 42px;
    text-align: center;
    padding-right: 4px;
    margin-right:-14px;
  }
  .graphiclink a {
    text-decoration: none
  }
  #main-bottombar {
    background: #03a9f4;
    bottom: 0;
    position: fixed;
    height: 70px;
    width: 100%;
    box-shadow: 0 -5px 5px #444;
  }
  #main-icons {
    text-align: center;
    margin: 10px 12px 14px 12px;
  }
  .main-icon {
    margin: 0 10px;
  }
  #main-signout {
    margin-bottom: 80px;
  }
  .topbar-privateimage {
    width: 30px;
    margin-bottom: -6px;
  }
  .tooltips {
    width: 300px;
    margin: 0 auto;
    padding: 5px;
    background-color: white;
    border: 1px solid black;
    color: blue;
    font-size: 94%;
  }
  .tipbutton {
    float: right;
    width: 90px !important;
    padding: 4px !important;
    font-size: 90%;
    border: 0;
  }
  .censoroff {
    float: right;
    width: 110px !important;
    padding: 4px !important;
    font-size: 90%;
    border: 0;
  }
  .censoron {
    float: right;
    width: 110px !important;
    padding: 4px !important;
    font-size: 90%;
    border: 0;
  }

  /* GROUP PAGES */
  #newgrouplink {
    font-size: 200%;
    margin: 0 auto;
    text-align: center;
    margin-top: 30px;
  }
  #joingrouplink {
    font-size: 200%;
    margin: 0 auto;
    text-align: center;
    margin-top: 30px;
  }
  .groupinfo {
    width: 40%;
    margin: 0 auto;
  }
  .groupnames {
    text-align: center;
    font-size: 150%;
  }
  #privatestatus {
    margin-top: 20px;
    text-align: center;
    font-style: italic;
  }
  .groupmembernames {
    text-align: center;
    font-size: 130%;
  }
  #joingroupform {
    text-align: center;
    margin-top: 25px;
  }
  .choosegroup select {
    font-size: 180%;
    text-align: center;
    margin-bottom: 15px;
  }
  #newgroupform {
    margin-top: 30px;
    text-align: center;
  }
  #pvtcheckbox {
    margin-bottom: 20px;
  }
  #grouppasswordcreate {
    margin-bottom: 20px;
  }
  #chatbox {
    border: 2px solid gray;
    width: 60%;
    height: 242px;
    margin: 0 auto;
    overflow-y: auto;
    margin-top: 35px;
  }
  #groupchatui {
    width: 60%;
    margin: 0 auto;
    text-align: center;
  }
  #groupchatenter {
    width: 60%;
  }
  #groupchatsubmit {
    margin-top: 4px;
    margin-left: -6px;
    padding-top: 4px;
    padding-bottom: 6px;
    border-radius: 6px;
  }
  #group-memberslink {
    text-align: center;
    margin-top: 12px;
    font-size: 130%;
  }
  #chatline {
    list-style-type: none;
    margin-left: -25px;
  }
  #messagetime {
    float: right;
    font-size:.6em;
    color: gray;
    margin-right: 12px;
    margin-top: 25px;
  }
  .emoji {
    width: 1.8em;
    height: 1.8em;
    display: inline-block;
    margin-bottom: -4px;
  }

  /* play game pages */
  .ads {
    width: 320px;
    height: 50px;
    margin: 0 auto;
    margin-top: 5px;
  }
  #newgamepage {
    margin-top: 80px;
    text-align:center;
  }
  #newgamepage a {
    text-decoration: none;
  }
  #playrounds {
    width: 60%;
    margin: 0 auto;
    text-align: center;
  }
  .playroundbutton {
    width: 300px;
    margin: 0 auto;
  }
  .playlongroundbutton {
    width: 340px;
    margin: 0 auto;
  }
  .smallerbutton {
    font-size: 75%;
    padding: 8px;
  }
  .roundtitle {
    text-decoration: underline;
    font-size: 190%;
    font-weight: 200;
  }
  .gameletters {
    font-size: 280%;
    font-weight: 700;
    color: red;
  }
  .gamecategories {
    font-style: italic;
    font-size: 120%;
    font-weight: 500;
    color: red;
  }
  .playarea {
    padding-bottom: 6px;
    background-color: white;
    border-size: 2px;
    border-style: solid;
    border-color: gray;
  }
  #r2play, #r3play, #r4play, #r5play, #r6play, #r7play, #r8play {
    display: none;
  }
  .button.answersubmitbutton {
    margin-top: 4px;
    margin-left: -6px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 6px;
  }
  .answerfield {
    width: 80%;
  }
  .roundplaylocked {
    background-color: gray;
    background-image: url("Lock-128.png");
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 22px;
    pointer-events: none;
    opacity: .6;
    color: gainsboro;
  }
  .roundplayanswered {
    background-color: green;
    background-image: url("Check-48.png");
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 26px;
  }
  .roundplayanswered:hover{
    background-color: darkgreen;
    background-image: url("Check-48.png");
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 26px;
  }
  .roundbuttonhighlight {
    box-shadow: 0px 0px 12px black;
    border: 1px solid black;
  }
  .allanswered {
    color: green;
    font-weight: 700;
    font-size: 110%;
    padding-left: 12px;
    padding-right: 12px;
  }
  .gamechat.button {
    font-size: 110%;
    width: 180px;
    margin: 0 auto;
    display: block;
    padding: 9px 0px;
    border: 1px solid brown;
  }
  .smallspeechimage {
    width: 24px;
    margin: -5px 10px -7px 10px;
  }
  .gamechat.button a img:hover {
    background: #008cba;
  }
  .gamechat.button a {
    color: white;
    text-decoration: none;
  }
  .chatplayerlist {
    width: 400px;
    margin: 0 auto;
    text-align: center;
  }
  .chatbutton a {
    text-decoration: none;
  }
  .chatbutton a img:hover {
    background: #008cba;
  }
  .chatlink {
    color: white;
  }
  .chatlinknotify {
    color: snow;
    font-size: 90%;
    font-weight: 800;
  }
  #voterounds {
    width: 60%;
    margin: 0 auto;
    text-align: center;
  }
  #r2vote, #r3vote, #r4vote, #r5vote, #r6vote, #r7vote, #r8vote {
    display: none;
  }
  .voteroundbutton {
    width: 300px;
    margin: 0 auto;
  }
  .votearea {
    background-color: white;
    border-size: 2px;
    border-style: solid;
    border-color: gray;
  }
  .votebutton1div, .votebutton2div, .votebutton3div, .votebutton4div,
  .votebutton5div, .votebutton6div, .votebutton7div, .votebutton8div {
    float: left;
    margin-left: 20%;
    margin-right:12px;
  }
  .votebuttons {
    float: left;
  }
  .roundhasvote {
    background-color: green;
    background-image: url("Check-48.png");
    background-repeat: no-repeat;
    background-position: center;
  }
  .gameroundscompleted {
    background-color: green !important;
    background-image: url("Check-48.png");
    background-repeat: no-repeat;
    background-position: bottom right;
  }
  .gamecancelled {
    background-color: black !important;
    background-image: url("Cry-48.png");
    background-repeat: no-repeat;
    background-position: bottom right;
  }
  #resultsround {
    width: 60%;
    margin: 0 auto;
    text-align: center;
  }
  .resultsroundbutton {
    width: 300px;
    margin: 0 auto;
  }
  .resultsarea {
    background-color: white;
    border-size: 2px;
    border-style: solid;
    border-color: gray;
  }
  .gamewinnerstats {
    font-size: 120%;
    color: red;
    font-weight: 700;
  }
  .resultstable, .resultstable td, .resultstable th {
    border: 1px solid blue;
    margin: 0 auto;
    border-collapse: collapse;
    padding: 3px;
    margin-top: 6px;
    margin-bottom: 6px;
  }
  .resultstable >tbody tr:first-child {
    color: red;
    font-size: 120%;
  }
  .roundresultstable, .roundresultstable td, .roundresultstable th {
    border: 1px solid blue;
    margin: 0 auto;
    border-collapse: collapse;
    padding: 3px;
    margin-top: 6px;
    margin-bottom: 6px;
    font-size: 95%;
  }
  .roundresultstable >tbody tr:first-child {
    color: red;
    font-size: 120%;
  }
  #round1results, #round2results, #round3results, #round4results, #round5results, #round6results,
  #round7results, #round8results {
    display: none;
  }
  .novotefrown img {
    width: 20px;
    height: 20px;
    margin-bottom: -4px;
  }
  .maingamespage {
    width: 60%;
    margin: 0 auto;
    text-align: center;
  }
  .maingamespage .button {
    width: 260px;
    margin: 12px auto;
    text-align: center;
    border-color: red;
    border-width: 1px;
    border-style: double;
  }
  .maingamespage .button a {
    color: white;
    text-decoration: none;
  }
  .maingamespage a {
    color: white;
    text-decoration: none;
  }
  .gamelistname {
    font-size:120%;
    font-style: italic;
  }
  .gamelisttime {
    font-size: 85%;
  }
  .mainpageviewbutton {
    font-size: 120%;
    font-weight: 700;
    background-color: black;
    color: white;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding-left: 2px;
  }
  #mainvotinggameslist, #mainresultsgameslist {
    display:none;
  }
  .lifetimerankings {
    width: 300px;
    height: 120px;
    margin: 0 auto;
    background-color: white;
    border: 1px solid black;
    padding: 12px;
    overflow-y: auto;
  }
  .userstats {
    width: 260px;
    margin: 0 auto;
    background-color: white;
    border: 1px solid red;
    padding: 12px;
  }
  .userstatdesc {
    width: 300px;
    text-align: left;
    font-size: 89%;
  }
  .userstatrank {
    float: right;
    font-size: 96%;
    margin-top: 0px;
    color: brown;
    font-weight: 600;
  }
  .userstatnumber {
    color: red;
    font-weight: 600;
  }
  .voteemailsend {
    background: green !important;
    width: 220px !important;
    padding: 8px !important;
    font-size: 110% !important;
    border: 2px solid blue !important;
  }
  #edituserpage {
    width: 60%;
    text-align: center;
    display: block;
    margin: 0 auto;
  }
  #linktohowtoplay {
    width: 50%;
    margin: 20px auto;
    background-color: #D2FF7A;
    border: 1px solid black;
    border-radius: 3px 3px;
    padding: 8px;
  }
  .lightninggameletters {
    font-size: 105%;
    font-weight: 400;
    color: red;
  }
  .lightninggamecategories {
    font-style: italic;
    font-size: 130%;
    font-weight: 500;
    color: red;
  }
  .lightninganswer {
    font-size: 145%;
    font-weight: 500;
    color: black;
  }
  .lightvote-icon {
    margin: 0 10px;
  }
  .lightvote-icon:hover {
    background-color: #c1f5fe;
  }
  .lightningvotedesc {
    font-size: 90%;
  }
  .disabled {
    pointer-events: none;
  }
  .disabledtoplay {
    background-color: gray !important;
    pointer-events: none;
    opacity: .6;
  }
  .graphicresults {
    background-color: ghostwhite;
    margin: 0 auto;
    margin-top: 10px;
    width: 70%;
    border: 1px solid black;
  }
  .graphicresultstext {
    font-size: 330%;
    margin-left: -12px;
    vertical-align: top;
  }
  .lightningresultletters {
    font-size: 120%;
    color: red;
    margin-bottom:-4px;
  }
  .lightningresultanswer {
    font-size: 180%;
    font-style: italic;
  }
  .lightninglistcategory {
    font-size: 95%;
  }
  .lightninglistanswer {
    font-size: 106%;
    font-style: italic;
  }
  .lightningindexbutton {
    width:360px;
    background-color: white;
    padding: 0 4px 0 4px;
    margin: 3px auto;
    border: 1px solid #03a9f4;
    border-radius: 4px;
  }
  .lightningsomeonevoted {
    background-color: lightgreen !important;
    /*background-image: url("Lock-128.png");
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 22px;*/
  }
  .lightningindexbutton:hover {
    background-color: ghostwhite;
  }
  .lightningindexdata {
    vertical-align: top;
  }
  .lightindexresult-icon:hover {
    background-color: inherit;
  }
  .lightningindexstat {
    color: red;
  }
  #lightningindexstatbox {
    width: 60%;
    margin: 0 auto;
    background-color: white;
    border: 1px solid #03a9f4;
  }
}
