@media screen and (min-width: 481px) {
  /* LANDING PAGE */
  #landing-bgtext {
    width: 100%;
    text-align: center;
    margin-top:32px;
    margin-bottom:40px;
    font-size:440%;
    font-weight:normal;
    opacity:.15;
    color: #ff3100;
  }
  #landing-fgtext {
    width: 100%;
    text-align: center;
    margin-top:-94px;
    margin-bottom:30px;
    font-size:145%;
    font-weight:bold;
    color: #ff3100;
  }
  #landing-signin {
    width: 100%;
    text-align: center;
    margin-top: 40px;
    font-size:100%;
    font-weight:normal;
  }

  #landing-topbar {
    background: #03a9f4;
    height: 70px;
    width: 100%;
    box-shadow: 0 5px 5px #444;
  }

  #landing-bottombar {
    background: #03a9f4;
    bottom: 0;
    position: fixed;
    height: 70px;
    width: 100%;
    box-shadow: 0 -5px 5px #444;
    z-index: -1;
  }

  #signin-with {
    margin-top: 40px;
    text-align: center;
  }
  #signin-twitter {
    margin: 25px 10px 0 0;
  }
  #signin-facebook {
    margin: 25px 10px 0 10px;
  }
  #signin-google {
    margin: 25px 0 0 10px;
  }

  /* MAIN PAGES */
  #main-topbar {
    background: #03a9f4;
    height: 40px;
    width: 100%;
    box-shadow: 0 5px 5px #444;
    margin-bottom: 16px;
  }
  #main-titletext {
    text-align: center;
    color: white;
    font-size: 140%;
    font-weight: 600;
    padding-top: 6px;
    margin: 0 10% 0 10%;
  }
  #main-homebutton {
    float: left;
    margin-top: 2px;
    margin-left: 10px;
  }
  #main-messagebutton {
    float: right;
    margin-top: -30px;
    margin-right: 10px;
  }
  #main-bottombar {
    background: #03a9f4;
    bottom: 0;
    position: fixed;
    height: 70px;
    width: 100%;
    box-shadow: 0 -5px 5px #444;
  }
  #main-icons {
    text-align: center;
    margin: 10px 12px 14px 12px;
  }
  .main-icon {
    margin: 0 10px;
  }
  #main-signout {
    margin-bottom: 80px;
  }
  .topbar-privateimage {
    width: 30px;
    margin-bottom: -6px;
  }

  /* GROUP PAGES */
  #newgrouplink {
    font-size: 200%;
    margin: 0 auto;
    text-align: center;
    margin-top: 30px;
  }
  #joingrouplink {
    font-size: 200%;
    margin: 0 auto;
    text-align: center;
    margin-top: 30px;
  }
  .groupinfo {
    width: 40%;
    margin: 0 auto;
  }
  .groupnames {
    text-align: center;
    font-size: 150%;
  }
  #privatestatus {
    margin-top: 20px;
    text-align: center;
    font-style: italic;
  }
  .groupmembernames {
    text-align: center;
    font-size: 130%;
  }
  #joingroupform {
    text-align: center;
    margin-top: 25px;
  }
  .choosegroup select {
    font-size: 180%;
    text-align: center;
    margin-bottom: 15px;
  }
  #newgroupform {
    margin-top: 30px;
    text-align: center;
  }
  #pvtcheckbox {
    margin-bottom: 20px;
  }
  #grouppasswordcreate {
    margin-bottom: 20px;
  }
  #chatbox {
    border: 2px solid gray;
    width: 60%;
    height: 242px;
    margin: 0 auto;
    overflow-y: auto;
    margin-top: 35px;
  }
  #groupchatui {
    width: 60%;
    margin: 0 auto;
    text-align: center;
  }
  #groupchatenter {
    width: 60%;
  }
  #groupchatsubmit {
    margin-top: 4px;
    margin-left: -6px;
    padding-top: 4px;
    padding-bottom: 6px;
    border-radius: 6px;
  }
  #group-memberslink {
    text-align: center;
    margin-top: 12px;
    font-size: 130%;
  }
  #chatline {
    list-style-type: none;
    margin-left: -25px;
  }
  #messagetime {
    float: right;
    font-size:.6em;
    color: gray;
    margin-right: 12px;
    margin-top: 25px;
  }
  .emoji {
    width: 1.8em;
    height: 1.8em;
    display: inline-block;
    margin-bottom: -4px;
  }

  /* play game pages */
  .ads {
    width: 320px;
    height: 50px;
    margin: 0 auto;
    margin-top: 5px;
  }
  #newgamepage {
    margin-top: 80px;
    text-align:center;
  }
  #playrounds {
    width: 60%;
    margin: 0 auto;
    text-align: center;
  }
  .playroundbutton {
    width: 300px;
    margin: 0 auto;
  }
  .roundtitle {
    text-decoration: underline;
    font-size: 190%;
    font-weight: 200;
  }
  .gameletters {
    font-size: 280%;
    font-weight: 700;
    color: red;
  }
  .gamecategories {
    font-style: italic;
    font-size: 120%;
    font-weight: 500;
    color: red;
  }
  .playarea {
    background-color: white;
    border-size: 2px;
    border-style: solid;
    border-color: gray;
  }
  #r2play, #r3play, #r4play {
    display: none;
  }
  .button.answersubmitbutton {
    margin-top: 4px;
    margin-left: -6px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 6px;
  }
  .answerfield {
    width: 80%;
  }
  #voterounds {
    width: 60%;
    margin: 0 auto;
    text-align: center;
  }
  #r2vote, #r3vote, #r4vote {
    display: none;
  }
  .voteroundbutton {
    width: 300px;
    margin: 0 auto;
  }
  .votearea {
    background-color: white;
    border-size: 2px;
    border-style: solid;
    border-color: gray;
  }
  #votebutton1div, #votebutton2div, #votebutton3div, #votebutton4div {
    float: left;
    margin-left: 20%;
    margin-right:12px;
  }
}
